In [9]:
import pandas as pd

In [4]:
df = pd.read_csv("eBay-OrdersReport-Jun-17-2025-23_32_28-0700-11234768669 (1) (1).csv", delimiter = ';')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 82 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Sales Record Number                            254 non-null    object
 1   Order Number                                   253 non-null    object
 2   Buyer Username                                 253 non-null    object
 3   Buyer Name                                     246 non-null    object
 4   Buyer Email                                    0 non-null      float64
 5   Buyer Note                                     6 non-null      object
 6   Buyer Address 1                                245 non-null    object
 7   Buyer Address 2                                55 non-null     object
 8   Buyer City                                     243 non-null    object
 9   Buyer State                                    239 non-null    object
 10  Buyer Zip                                      245 non-null    object
 11  Buyer Country                                  245 non-null    object
 12  Buyer Tax Identifier Name                      0 non-null      float64
 13  Buyer Tax Identifier Value                     0 non-null      float64
 14  Ship To Name                                   245 non-null    object
 15  Ship To Phone                                  246 non-null    object
 16  Ship To Address 1                              245 non-null    object
 17  Ship To Address 2                              125 non-null    object
 18  Ship To City                                   244 non-null    object
 19  Ship To State                                  241 non-null    object
 20  Ship To Zip                                    245 non-null    object
 21  Ship To Country                                245 non-null    object
 22  Item Number                                    250 non-null    object
 23  Item Title                                     250 non-null    object
 24  Custom Label                                   14 non-null     object
 25  Sold Via Promoted Listings                     250 non-null    object
 26  Quantity                                       253 non-null    float64
 27  Sold For                                       253 non-null    object
 28  Shipping And Handling                          246 non-null    object
 29  Item Location                                  249 non-null    object
 30  Item Zip Code                                  249 non-null    float64
 31  Item Country                                   249 non-null    object
 32  eBay Collect And Remit Tax Rate                199 non-null    float64
 33  eBay Collect And Remit Tax Type                199 non-null    object
 34  eBay Reference Name                            5 non-null      object
 35  eBay Reference Value                           1 non-null      object
 36  Tax Status                                     1 non-null      object
 37  Seller Collected Tax                           246 non-null    object
 38  eBay Collected Tax                             246 non-null    object
 39  Electronic Waste Recycling Fee                 246 non-null    object
 40  Mattress Recycling Fee                         246 non-null    object
 41  Battery Recycling Fee                          246 non-null    object
 42  White Goods Disposal Tax                       246 non-null    object
 43  Tire Recycling Fee                             246 non-null    object
 44  Additional Fee                                 246 non-null    object
 45  Lumber Fee                                     246 non-null    object
 46  Prepaid Wireless Fee                           246 non-null    object
 47  Road Improvement And Food Delivery Fee         246 non-null    object
 48  eBay Collected Charges                         246 non-null    object
 49  Total Price                                    246 non-null    object
 50  eBay Collected Tax and Fees Included in Total  246 non-null    object
 51  Payment Method                                 0 non-null      float64
 52  Sale Date                                      253 non-null    object
 53  Paid On Date                                   244 non-null    object
 54  Ship By Date                                   241 non-null    object
 55  Minimum Estimated Delivery Date                248 non-null    object
 56  Maximum Estimated Delivery Date                248 non-null    object
 57  Shipped On Date                                241 non-null    object
 58  Feedback Left                                  250 non-null    object
 59  Feedback Received                              97 non-null     object
 60  My Item Note                                   0 non-null      float64
 61  PayPal Transaction ID                          68 non-null     object
 62  Shipping Service                               245 non-null    object
 63  Tracking Number                                235 non-null    object
 64  Transaction ID                                 247 non-null    object
 65  Variation Details                              0 non-null      float64
 66  Global Shipping Program                        246 non-null    object
 67  Global Shipping Reference ID                   0 non-null      float64
 68  Click And Collect                              246 non-null    object
 69  Click And Collect Reference Number             0 non-null      float64
 70  eBay Plus                                      246 non-null    object
 71  Authenticity Verification Program              246 non-null    object
 72  Authenticity Verification Status               74 non-null     object
 73  Authenticity Verification Outcome Reason       2 non-null      object
 74  PSA Vault Program                              246 non-null    object
 75  Vault Fulfillment Type                         0 non-null      float64
 76  eBay Fulfillment Program                       246 non-null    object
 77  Tax City                                       244 non-null    object
 78  Tax State                                      241 non-null    object
 79  Tax Zip                                        245 non-null    object
 80  Tax Country                                    245 non-null    object
 81  eBay International Shipping                    246 non-null    object
dtypes: float64(12), object(70)
memory usage: 164.8+ KB

In [18]:
df.head(5)

,Sales Record Number,Order Number,Buyer Username,Buyer Name,Buyer Email,Buyer Note,Buyer Address 1,Buyer Address 2,Buyer City,Buyer State,...,Authenticity Verification Status,Authenticity Verification Outcome Reason,PSA Vault Program,Vault Fulfillment Type,eBay Fulfillment Program,Tax City,Tax State,Tax Zip,Tax Country,eBay International Shipping
1,2245,04-12525-35943,pireus2013,--,NaN,NaN,--,NaN,Mountainside,NJ,...,Passed,NaN,No,NaN,No,Mountainside,NJ,07092-2807,United States,No
2,2244,21-12488-65900,fer199304,--,NaN,NaN,--,NaN,Miami,FL,...,Passed,NaN,No,NaN,No,Miami,FL,33166-4250,United States,No
3,2243,22-12487-74979,fer199304,--,NaN,NaN,--,NaN,Miami,FL,...,NaN,NaN,No,NaN,No,Miami,FL,33166-4250,United States,No
4,2242,22-12487-74373,fer199304,--,NaN,NaN,--,NaN,Miami,FL,...,Passed,NaN,No,NaN,No,Miami,FL,33166-4250,United States,No
5,2241,22-12487-74372,fer199304,--,NaN,NaN,--,NaN,Miami,FL,...,NaN,NaN,No,NaN,No,Miami,FL,33166-4250,United States,No

In [19]:
df.tail(5)

,Sales Record Number,Order Number,Buyer Username,Buyer Name,Buyer Email,Buyer Note,Buyer Address 1,Buyer Address 2,Buyer City,Buyer State,...,Authenticity Verification Status,Authenticity Verification Outcome Reason,PSA Vault Program,Vault Fulfillment Type,eBay Fulfillment Program,Tax City,Tax State,Tax Zip,Tax Country,eBay International Shipping
252,1999,25-11005-39522,andco-935725,--,NaN,NaN,--,#855B,Boston,MA,...,Passed,NaN,No,NaN,No,Boston,MA,02108-5182,United States,No
253,1998,01-11014-31711,etrabber,--,NaN,NaN,--,NaN,Medway,MA,...,NaN,NaN,No,NaN,No,Medway,MA,02053-4510,United States,No
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,record(s) downloaded,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Seller ID : a*listcolleczioni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = df.iloc[1:].copy()

In [13]:
df['Transaction ID'].unique()

array(['2,75E+12', '2,64E+12', nan, '2,56E+12', '2,74E+12', '2,63E+12',
       '2,73E+12', '2,62E+12', '2,72E+12', '2,61E+12', '2,60E+12',
       '2,71E+12', '2,59E+12', '2,58E+12', '2,70E+12', '2,69E+12',
       '2,57E+12', '2,68E+12'], dtype=object)

In [20]:
df['Sales Record Number'].unique()

array(['2245', '2244', '2243', '2242', '2241', '2238', '2237', '2236',
       '2235', '2234', '2233', '2002', '2232', '2231', '2230', '2229',
       '2228', '2227', '2226', '2225', '2224', '2223', '2222', '2221',
       '2220', '2219', '2218', '2217', '2216', '2215', '2214', '2213',
       '2212', '2211', '2210', '2209', '2208', '2207', '2206', '2205',
       '2204', '2203', '2202', '2201', '2200', '2199', '2198', '2197',
       '2196', '2195', '2194', '2193', '2192', '2191', '2190', '2189',
       '2188', '2187', '2186', '2185', '2184', '2183', '2182', '2181',
       '2180', '2179', '2178', '2177', '2176', '2175', '2174', '2173',
       '2172', '2171', '2170', '2169', '2168', '2167', '2166', '2165',
       '2164', '2163', '2162', '2161', '2160', '2159', '2158', '2157',
       '2156', '2155', '2154', '2153', '2152', '2151', '2150', '2149',
       '2148', '2147', '2146', '2145', '2144', '2141', '2140', '2139',
       '2138', '2137', '2136', '2135', '2134', '2133', '2132', '2130',
       '2131', '2129', '2099', '2128', '2127', '2126', '2125', '2124',
       '2123', '2122', '2121', '2120', '2119', '2118', '2117', '2116',
       '2115', '2114', '2113', '2112', '2111', '2110', '2109', '2108',
       '2107', '2106', '2105', '2104', '2103', '2102', '2101', '2100',
       '2098', '2097', '2096', '2095', '2094', '2093', '2092', '2091',
       '2090', '2089', '2088', '2087', '2086', '2085', '2084', '2083',
       '2082', '2081', '2080', '2079', '2078', '2077', '2076', '2075',
       '2074', '2073', '2072', '2071', '2070', '2069', '2068', '2067',
       '2066', '2065', '2064', '2063', '2062', '2061', '2060', '2059',
       '2058', '2054', '2053', '2052', '2051', '2050', '2049', '2048',
       '2047', '2046', '2045', '2044', '2043', '2042', '2041', '2040',
       '2039', '2038', '2037', '2036', '2035', '2034', '2033', '2032',
       '2031', '2030', '2029', '2028', '2027', '2026', '2025', '2024',
       '2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2006', '2005', '2004', '2003', '2001', '2000', '1999',
       '1998', nan, 'Seller ID : a*listcolleczioni'], dtype=object)

In [21]:
df['Item Title']

1      BNIB Chanel 25C Beige Grained Leather CC Clutc...
2      NEW Chanel Coco Neige 2024/2025 Black White CC...
3      Hermes Birkin 25 Rouge H Togo Gold Hardware Y ...
4      Chanel 22A CC Logo Sneakers White/Black 37.5 BNIB
5                                                    NaN
                             ...
252    Rolex Datejust 31 Stainless/Rose Gold White Ro...
253    NEW Hermes Dressage Tressage Cashmere Shawl 14...
254                                                  NaN
255                                                  NaN
256                                                  NaN
Name: Item Title, Length: 256, dtype: object

In [22]:
columns_to_keep = {
        'Sales Record Number': 'TransactionID',
        'Paid On Date': 'SaleDate',
        'Item Title': 'ItemTitle',
        'Sold For': 'SalePrice',
        'Sold Via Promoted Listings': 'SalesChannel',
        'Ship To Country': 'Country',
        'Quantity': 'Quantity'
    }

In [23]:
df_clean = df[columns_to_keep.keys()].rename(columns=columns_to_keep)

In [27]:
df_clean.isnull().sum()

TransactionID     2
SaleDate         12
ItemTitle         6
SalePrice         3
SalesChannel      6
Country          11
Quantity          3
dtype: int64

In [40]:
df_clean[df_clean.isnull().any(axis=1)]

Empty DataFrame
Columns: [TransactionID, SaleDate, ItemTitle, SalePrice, SalesChannel, Country, Quantity]
Index: []

In [34]:
columns_to_fill = ['TransactionID', 'SaleDate', 'Country']

In [35]:
df_clean[columns_to_fill] = df_clean[columns_to_fill].fillna(method='ffill')

C:\Users\user\AppData\Local\Temp\ipykernel_4300\695812104.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean[columns_to_fill] = df_clean[columns_to_fill].fillna(method='ffill')

In [38]:
df_clean[df_clean['TransactionID'] == '2241']

,TransactionID,SaleDate,ItemTitle,SalePrice,SalesChannel,Country,Quantity
5,2241,Dec-25-24,NaN,"$2,519.00",NaN,United States,2.0
6,2241,Dec-25-24,BNIB Hermes Funny Ice Cream Twilly Beige / Crè...,$189.00,No,United States,1.0
7,2241,Dec-25-24,BNIB Chanel 24B Mules Shearling In Black Size 37,"$2,330.00",No,United States,1.0

In [39]:
df_clean.dropna(subset=['SalePrice', 'ItemTitle'], inplace=True)

In [43]:
df_clean.duplicated().sum()

np.int64(0)

In [42]:
df_clean.drop_duplicates(subset='TransactionID', inplace=True)

In [78]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 1 to 253
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  241 non-null    object
 1   SaleDate       241 non-null    datetime64[ns]
 2   ItemTitle      241 non-null    object
 3   SalePrice      241 non-null    float64
 4   SalesChannel   241 non-null    object
 5   Country        241 non-null    object
 6   Quantity       241 non-null    int64
 7   Brand          241 non-null    object
 8   Category       241 non-null    object
 9   SaleYear       241 non-null    int32
 10  SaleMonth      241 non-null    object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(7)
memory usage: 21.7+ KB

In [54]:
df_clean.head(5)

,TransactionID,SaleDate,ItemTitle,SalePrice,SalesChannel,Country,Quantity
1,2245,2024-12-30,BNIB Chanel 25C Beige Grained Leather CC Clutc...,4680.0,Organic,United States,1
2,2244,2024-12-25,NEW Chanel Coco Neige 2024/2025 Black White CC...,1890.0,Organic,United States,1
3,2243,2024-12-25,Hermes Birkin 25 Rouge H Togo Gold Hardware Y ...,19990.0,Organic,United States,1
4,2242,2024-12-25,Chanel 22A CC Logo Sneakers White/Black 37.5 BNIB,1799.0,Organic,United States,1
6,2241,2024-12-25,BNIB Hermes Funny Ice Cream Twilly Beige / Crè...,189.0,Organic,United States,1

In [77]:
df_clean['SaleDate'] = pd.to_datetime(df_clean['SaleDate'], format='%b-%d-%y')

In [48]:
df_clean['SalePrice'] = df_clean['SalePrice'].astype(str).str.replace(r'[$,]', '', regex=True)
df_clean['SalePrice'] = pd.to_numeric(df_clean['SalePrice'], errors='coerce')

In [51]:
df_clean['Quantity'] = pd.to_numeric(df_clean['Quantity'], errors='coerce').fillna(1).astype(int)

In [53]:
df_clean['SalesChannel'] = df_clean['SalesChannel'].map({'Yes': 'Promoted', 'No': 'Organic'})

In [62]:
df_clean['ItemTitle'].unique

<bound method Series.unique of 1      BNIB Chanel 25C Beige Grained Leather CC Clutc...
2      NEW Chanel Coco Neige 2024/2025 Black White CC...
3      Hermes Birkin 25 Rouge H Togo Gold Hardware Y ...
4      Chanel 22A CC Logo Sneakers White/Black 37.5 BNIB
6      BNIB Hermes Funny Ice Cream Twilly Beige / Crè...
                             ...
248    BNIB HERMES Chevaloscope scarf 90 Silk in Blan...
250    HERMES Picotin 18 Clemence Biscuit w/ Gold Har...
251    *BNIB* Hermes Womens Chypre Blanc White Calfsk...
252    Rolex Datejust 31 Stainless/Rose Gold White Ro...
253    NEW Hermes Dressage Tressage Cashmere Shawl 14...
Name: ItemTitle, Length: 241, dtype: object>

In [55]:
brand_map = {
        'chanel': 'Chanel',
        'hermes': 'Hermès',
        'hermès': 'Hermès',
        'louis vuitton': 'Louis Vuitton',
        'rolex': 'Rolex',
        'gucci': 'Gucci',
        'prada': 'Prada',
        'dior': 'Dior',
        'cartier': 'Cartier',
        'goyard': 'Goyard',
        'fendi': 'Fendi'
    }

In [56]:
category_map = {
        'Handbag': ['bag', 'clutch', 'birkin', 'kelly', 'speedy', 'neverfull', 'woc', 'pochette', 'tote', 'handbag', 'constance'],
        'Watch': ['watch', 'datejust', 'submariner', 'daytona', 'oyster'],
        'Jewelry': ['necklace', 'bracelet', 'earrings', 'ring', 'jewelry', 'brooch'],
        'Shoes': ['sneakers', 'shoes', 'boots', 'heels', 'sandals', 'loafers'],
        'Accessories': ['earmuffs', 'scarf', 'belt', 'wallet', 'card holder', 'tie', 'sunglasses']
    }

In [63]:
def extract_brand(title):
        title_low = str(title).lower()
        for keyword, brand_name in brand_map.items():
            if keyword in title_low:
                return brand_name
        return 'Other'

In [64]:
def extract_category(title):
        title_low = str(title).lower()
        for cat_name, keywords in category_map.items():
            for keyword in keywords:
                if keyword in title_low:
                    return cat_name
        return 'Other'

In [65]:
df_clean['Brand'] = df_clean['ItemTitle'].apply(extract_brand)
df_clean['Category'] = df_clean['ItemTitle'].apply(extract_category)

In [66]:
df_clean.head()

,TransactionID,SaleDate,ItemTitle,SalePrice,SalesChannel,Country,Quantity,Brand,Category
1,2245,2024-12-30,BNIB Chanel 25C Beige Grained Leather CC Clutc...,4680.0,Organic,United States,1,Chanel,Handbag
2,2244,2024-12-25,NEW Chanel Coco Neige 2024/2025 Black White CC...,1890.0,Organic,United States,1,Chanel,Accessories
3,2243,2024-12-25,Hermes Birkin 25 Rouge H Togo Gold Hardware Y ...,19990.0,Organic,United States,1,Hermès,Handbag
4,2242,2024-12-25,Chanel 22A CC Logo Sneakers White/Black 37.5 BNIB,1799.0,Organic,United States,1,Chanel,Shoes
6,2241,2024-12-25,BNIB Hermes Funny Ice Cream Twilly Beige / Crè...,189.0,Organic,United States,1,Hermès,Other

In [70]:
df_clean['SaleYear'] = df_clean['SaleDate'].dt.year
df_clean['SaleMonth'] = df_clean['SaleDate'].dt.strftime('%B')

In [ ]:
df_clean.to_csv('clean_data.csv', index = False)

In [94]:
df_clean.head(5)

,TransactionID,SaleDate,ItemTitle,SalePrice,SalesChannel,Country,Quantity,Brand,Category,SaleYear,SaleMonth
1,2245,2024-12-30,BNIB Chanel 25C Beige Grained Leather CC Clutc...,4680.0,Organic,United States,1,Chanel,Handbag,2024,December
2,2244,2024-12-25,NEW Chanel Coco Neige 2024/2025 Black White CC...,1890.0,Organic,United States,1,Chanel,Accessories,2024,December
3,2243,2024-12-25,Hermes Birkin 25 Rouge H Togo Gold Hardware Y ...,19990.0,Organic,United States,1,Hermès,Handbag,2024,December
4,2242,2024-12-25,Chanel 22A CC Logo Sneakers White/Black 37.5 BNIB,1799.0,Organic,United States,1,Chanel,Shoes,2024,December
6,2241,2024-12-25,BNIB Hermes Funny Ice Cream Twilly Beige / Crè...,189.0,Organic,United States,1,Hermès,Other,2024,December